<div class="container">

  <form [formGroup] = "form" (ngSubmit)="onFormSubmit()">
    <div class="container-column">
      <mat-form-field appearance="standard" class="input">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Max Mustermann">
      </mat-form-field>

      <mat-form-field appearance="standard" class="input">
        <mat-label>E-Mail Adresse</mat-label>
        <input formControlName="emailAddress" matInput placeholder="max@mustermann.at">
      </mat-form-field>

      <mat-form-field appearance="standard" class="input">
        <mat-label>Versandaddresse</mat-label>
        <textarea formControlName="address" matInput rows="3" placeholder="Musterstrasse 4&#10;1234 Musterstadt"></textarea>
      </mat-form-field>

      <mat-form-field appearance="standard" class="input">
        <mat-label>Deine Bestellung oder Fragen zum Produkt</mat-label>
        <textarea formControlName="comment" matInput rows="3" placeholder="..."></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" aria-label="Bestellen" type="submit" [disabled]="!form.valid">
        <mat-icon>shopping_cart</mat-icon> Kostenpflichtig Bestellen
      </button>
    </div>

  </form>

</div>
